.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.2em;
  box-sizing: border-box;
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 90%;

  &.error {
    background: #D96A77;
  }
}

