@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

$desktop-width: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin mobile {
  @media not all and (min-width: #{$desktop-width}) {
    @content;
  }
}

html, body {
  width: 100%;
  height: 100%;
  font-size:110%;
  @include desktop { font-size: 90% }
}


body {
  margin: 0;
  padding-top: 3rem;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
  color: #454545;
}

